.jumbotron {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin: 15px;
  border-style: double;
  background-image: linear-gradient(to bottom, #5f72d5, #00a1fd, #00c6e1, #00e08d, #a8eb12);
}

body {
  background-color: lightgray;
}

#submitbutton {
  margin: 10px;
  color: black;
}

.bg-info {
  margin: 15px;
  padding: 4px;
  font-size: large;
  border-style: groove;
}

#output {
  font-weight: 800;
  font-size: large;
  padding: 10px;
  margin: 15px;
  text-decoration: underline;
  font-size: x-large;
}
