.jumbotron {
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  margin: 15px;
  border-style: double;
  background-image: linear-gradient(to bottom, #5f72d5, #00a1fd, #00c6e1, #00e08d, #a8eb12);
}

body {
  background-image: url(https://bit.ly/2Jlr1ek);
  font-family: sans-serif;
  /*background-color: #9CB0A4;*/
}

#submitbutton {
  margin: 10px;
  color: black;
}

.bg-info {
  margin: 15px;
  padding: 4px;
  font-size: large;
  border-style: groove;
}

#output {
  font-weight: 800;
  font-size: large;
  padding: 10px;
  margin: 15px;
  text-decoration: underline;
  font-size: x-large;
  text-align: center;
  text-shadow: 5px 5px 10px white;
  background-color: black;
  display: none;
  color: white;
  
}

.box {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 15px;
  border-style: double;
  border-color: lime;
  background-color: black;
}